<div class="expenses-detail">
  <button type="button" class="back-button" (click)="onBack()" mat-button>Back</button>
  <form [formGroup]="expenseDetailForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="purchasedOn" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nature" formControlName="nature">
    </mat-form-field>

    <div formGroupName="originalAmount" class="amount-container">
      <mat-form-field class="currency">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currency">
          <mat-option *ngFor="let currency of currencies | enumToArray" [value]="currency.key">
            {{currency.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="amount">
        <input matInput placeholder="Montant" formControlName="amount">
      </mat-form-field>
    </div>

    <mat-form-field>
      <textarea matInput placeholder="Commentaire" formControlName="comment"></textarea>
    </mat-form-field>
    <div class="form-buttons">
      <button type="submit" [disabled]="!expenseDetailForm.valid || !expenseDetailForm.dirty" mat-raised-button color="primary">Sauver</button>
      <button type="button" (click)="deleteConfirmDialog()" mat-raised-button color="primary">Supprimer</button>
    </div>
  </form>
</div>
