<div class="expenses-detail">
  <form [formGroup]="expenseDetailForm">
    <mat-form-field>
      <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nature" formControlName="nature">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Montant" formControlName="amount">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Commentaire" formControlName="comment"></textarea>
    </mat-form-field>
  </form>
</div>
