.expenses-dashboard
  display: flex
  justify-content: center
  .mat-table
    flex-basis: 50%
    .mat-row:hover
      background-color: #C5CAE9

@media (max-width: 1280px)
  .expenses-dashboard
    .mat-table
      flex-basis: 75%

@media (max-width: 1024px)
  .expenses-dashboard
    .mat-table
      flex-basis: 95%
