<div class="expenses-dashboard">
  <table mat-table [dataSource]="dataSource$" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

      <!-- PurchasedOn Column -->
      <ng-container matColumnDef="purchasedOn">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.purchasedOn | date:'longDate'}} </td>
      </ng-container>

      <!-- Nature Column -->
      <ng-container matColumnDef="nature">
        <th mat-header-cell *matHeaderCellDef> Nature </th>
        <td mat-cell *matCellDef="let element"> {{element.nature}} </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Montant </th>
        <td mat-cell *matCellDef="let element"> {{element.originalAmount.amount | currency:element.originalAmount.currency }} </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="onRowDelete(element, $event)"><mat-icon>delete_forever</mat-icon></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowSelected(row, $event)"></tr>
    </table>
    <div [@slideInOutAnimation]="routerOutlet.isActivated ? routerOutlet.activatedRoute : ''">
      <router-outlet #routerOutlet="outlet"></router-outlet>
    </div>
</div>
